<header id="primary-header" class="flex">
    <div><img id="burger" src="/images/burger.png" alt ="burger"></div>
    <nav id="primary-navigation-bar">
        <ul id="primary-items-list">
            <li><img id="burger" src="/images/user.png" alt ="profile"></li>
        </ul>
    </nav>
</header>