<%if (locals.type_user === 0 || !locals.type_user) { %>
<header id="primary-header" class="flex">
  <%} else if(locals.type_user === 1 || locals.type_user === 2){%>
  <header id="primary-header" class="flex official">
    <%}%>
    <div id="burger"></div>
    <nav id="primary-navigation-bar">
      <ul id="primary-items-list" class="my-3">
        <%if (!locals.isAuth) { %>
        <li id="profile">
          <i class="bi bi-person-circle vertical__center nav__item__icon"></i>
        </li>
        <%}else{%> <% if(locals.type_user === 0){%>
        <li>
          <form id="logout" method="post" action="/logout">
            <button type="submit">
              <i class="bi bi-box-arrow-left" style="font-size: 1.5rem"></i>
              <!-- <span>Đăng xuất</span> -->
            </button>
          </form>
        </li>
        <%}else if(locals.type_user === 1){ %>
        <li id="profile" onclick="navigate(this.id, '<%=locals.uid%>')">
          <i class="bi bi-person-circle vertical__center nav__item__icon"></i>
          <span><%= locals.name%></span>
        </li>
        <li id="report-list">
          <i class="bi bi-clipboard2-check nav__item__icon"></i>
          <span>Danh sách báo cáo</span>
        </li>
        <li id="license-list">
          <i class="bi bi-check-circle nav__item__icon"></i>
          <span>Yêu cầu cấp phép</span>
        </li>
        <li id="edit-list">
          <i class="bi bi-pencil nav__item__icon"></i>
          <span>Yêu cầu chỉnh sửa</span>
        </li>
        <li id="billboard-list">
          <i class="bi bi-signpost-2 nav__item__icon"></i>
          <span>Danh sách quảng cáo</span>
        </li>
        <li onclick="document.getElementById('logout').submit()">
          <form id="logout" method="post" action="/logout">
            <button type="submit">
              <i
                class="bi bi-box-arrow-left"
                id="logout"
                style="font-size: 1.5rem"></i>
              <span>Đăng xuất</span>
            </button>
          </form>
        </li>
        <% }else if(locals.type_user === 2){%>
        <li class="nav__item" id="general__info">
          <div class="btn-group dropend" id="nav__dropend__container">
            <button type="button" class="btn btn-link d-flex" id="nav__btn" data-bs-toggle="dropdown" aria-expanded="false">
              <i 
                      class="bi bi-menu-button vertical__center"
                      id="nav__item__icon"
                      style="font-size: 1.5rem !important"></i>
              <span id="nav__item__label">Quản lý thông tin</span>
                    
            </button>
            
            <ul class="dropdown-menu p-0 no__transition nav__dropdown__menu">
              <li class="dropdown-item d-flex nav__dropdown__li" id="manage__districts__wards" style="  align-items: center;" onclick="navigate(this.id)">
                <i
                class="bi bi-geo-alt"
                id="dropend__list__icon"
                style="font-size: 1rem !important;"></i>
                <span id="dropend__list__label">&nbsp;Quản lý Quận, Phường</span>
              </li>
              <li class="dropdown-item d-flex nav__dropdown__li" id="manage__general__types" style="  align-items: center;" onclick="navigate(this.id)">
                <i
                class="bi bi-view-list"
                id="dropend__list__icon"
                style="font-size: 1rem !important;"></i>
                <span id="dropend__list__label">&nbsp;Quản lý thông tin chung</span>
              </li>      
            </ul>
          </div>
        </li>
        <li class="nav__item" id="manage__billboards" onclick="">
          <div class="btn-group dropend" id="nav__dropend__container">
            <button type="button" class="btn btn-link d-flex" id="nav__btn" data-bs-toggle="dropdown" aria-expanded="false">
              <i 
                      class="bi bi-signpost-2 vertical__center"
                      id="nav__item__icon"
                      style="font-size: 1.5rem !important"></i>
              <span id="nav__item__label">Quản lý quảng cáo</span>
                    
            </button>
            
            <ul class="dropdown-menu p-0 no__transition nav__dropdown__menu">
              <li class="dropdown-item d-flex nav__dropdown__li" id="billboards" style="  align-items: center;" onclick="navigate(this.id)">
                <i
                class="bi bi-geo-alt"
                id="dropend__list__icon"
                style="font-size: 1rem !important;"></i>
                <span id="dropend__list__label">&nbsp;Quản lý điểm đặt quảng cáo</span>
              </li>
              <li class="dropdown-item d-flex nav__dropdown__li" id="manage__licenses" style="  align-items: center;" onclick="navigate(this.id)">
                <i
                class="bi bi-card-text"
                id="dropend__list__icon"
                style="font-size: 1rem !important;"></i>
                <span id="dropend__list__label">&nbsp;Quản lý yêu cầu cấp phép BQC</span>
              </li>
              <li class="dropdown-item d-flex nav__dropdown__li" id="" style="  align-items: center;">
                <i
                class="bi bi-pencil"
                id="dropend__list__icon"
                style="font-size: 1rem !important;"></i>
                <span id="dropend__list__label">&nbsp;Quản lý yêu cầu chỉnh sửa BQC</span>
              </li>
              
            </ul>
          </div>
        </li>
        <li class="nav__item" id="manage__reports" onclick="navigate(this.id)">
          <div class="btn-group dropend" id="nav__dropend__container">
            <button type="button" class="btn btn-link d-flex" id="nav__btn">
              <i 
                      class="bi bi-file-earmark-text vertical__center"
                      id="nav__item__icon"
                      style="font-size: 1.5rem !important"></i>
              <span id="nav__item__label">Quản lý báo cáo</span>
                    
            </button>
          </div>
        </li>
        <li class="nav__item" id="manage__accounts" onclick="navigate(this.id)">
          <div class="btn-group dropend" id="nav__dropend__container">
            <button type="button" class="btn btn-link d-flex" id="nav__btn">
              <i 
                      class="bi bi-person-gear vertical__center"
                      id="nav__item__icon"
                      style="font-size: 1.5rem !important"></i>
              <span id="nav__item__label">Quản lý TK cán bộ</span>
                    
            </button>
          </div>
        </li>
        
        <li class="nav__item" id="profile">
          <div class="btn-group dropend" id="nav__dropend__container">
            <button type="button" class="btn btn-link d-flex" id="nav__btn" data-bs-toggle="dropdown" aria-expanded="false">
              <i 
                      class="bi bi-person-circle vertical__center"
                      id="nav__item__icon"
                      style="font-size: 1.5rem !important"></i>
              <div class="">
                <span id="account__name"><%= locals.name%></span>
                <span class="text-black-50">Cán bộ Sở VHTT</span>
              </div>
                    
            </button>

            <ul class="dropdown-menu p-0 no__transition nav__dropdown__menu">
              <li class="dropdown-item d-flex nav__dropdown__li" id="manage__profile" style="  align-items: center;" onclick="navigate(this.id)">
                <i
                class="bi bi-person fa-lg"
                id="nav__item__icon"
                style="font-size: 1rem !important;"></i>
                <span id="dropend__list__label">&nbsp;Thông tin tài khoản</span>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item d-flex"
                id="logout__li"
                onclick="document.getElementById('logout__form').submit()"
                style="  align-items: center;">
                <form id="logout__form" method="post" action="/logout" class="d-flex" style="  align-items: center;">
                  <i
                      class="bi bi-box-arrow-left fa-lg"
                      style="font-size: 1rem !important"></i>
                    <span id="dropend__list__label">&nbsp;Đăng xuất</span>
                </form>
              </li>
                
            </ul>
          </div>
        </li> 
        
        <%}}%>
      </ul>
    </nav>
  </header>
</header>
