<header id="primary-header" class="flex">
    <div id="burger"></div>
    <nav id="primary-navigation-bar">
        <ul id="primary-items-list">
            <li><img id="profile" src="/images/user.png" alt ="profile"></li>
        </ul>
    </nav>
    <%- include('../users/home/authentication.ejs')%>
</header>
