<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chi tiết báo cáo</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <link
      href="https://cdn.quilljs.com/1.3.7/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

    <link rel="stylesheet" href="./styles/trangchu.css" />
    <link rel="stylesheet" href="s/styles/navbar.css" />
    <link rel="stylesheet" href="s/styles/global.css" />
    <link rel="stylesheet" href="./styles/danhsach.css" />
    <link rel="stylesheet" href="./styles/report.css" />
    <link rel="stylesheet" href="s/styles/editor.css" />
    <link rel="stylesheet" href="./styles/chitiet.css" />

    <link
      href="https://cdn.quilljs.com/1.3.7/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
  </head>
  <body>
    <script src="s/scripts/navbar.js" defer></script>
    <div class="wrapper">
      <header id="primary-header" class="flex official">
        <div id="burger"></div>
        <nav id="primary-navigation-bar">
          <ul id="primary-items-list" class="my-3">
            <li id="profile">
              <i
                class="bi bi-person-circle vertical__center nav__item__icon"
              ></i>
              <span><a>user name</a></span>
            </li>
            <li id="report-list">
              <i class="bi bi-clipboard2-check nav__item__icon"></i>
              <span><a>Danh sách báo cáo</a></span>
            </li>
            <li id="license-list">
              <i class="bi bi-check-circle nav__item__icon"></i>
              <span><a>Yêu cầu cấp phép</a></span>
            </li>
            <li id="edit-list">
              <i class="bi bi-pencil nav__item__icon"></i>
              <span><a>Yêu cầu chỉnh sửa</a></span>
            </li>
            <li id="billboard-list">
              <i class="bi bi-signpost-2 nav__item__icon"></i>
              <span><a>Danh sách quảng cáo</a></span>
            </li>
            <li>
              <form id="logout" method="post" action="/logout">
                <button type="submit">
                  <i class="bi bi-box-arrow-left" id="logout"></i>
                  <span>Đăng xuất</span>
                </button>
              </form>
            </li>
          </ul>
        </nav>
      </header>

      <div class="flex official" id="content">
        <main>
          <h3 class="bold">Chi tiết báo cáo</h3>
          <div class="billboard-info">
            <p>
              Tên người gửi: Nguyễn Văn A <br />
              Email: abc@xyz.com <br />
              Số điện thoại: 0123456789 <br />
              Nơi quảng cáo: 102 Đ. Nguyễn Hữu Cảnh, Phường 22, Bình Thạnh,
              Thành phố Hồ Chí Minh, Vietnam.
            </p>
          </div>
          <div class="report-info">
            <h6 class="bold">Nội dung báo cáo</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque vel dictum mi. Praesent ut accumsan turpis. Fusce
              eget pretium tellus, nec dapibus arcu. Curabitur tempus quam vitae
              ex cursus condimentum. Fusce id porttitor erat. Maecenas lacus
              mauris, efficitur lobortis congue in, finibus ac est. Morbi
              laoreet, mi nec mattis malesuada, eros urna euismod diam, ut
              lacinia lectus neque vel ante. Sed feugiat justo sit amet vehicula
              tincidunt. Aenean viverra feugiat velit, a posuere lectus pharetra
              vitae. Nunc non vestibulum nibh, in congue ligula. Proin vel diam
              nec lacus lobortis sodales.
            </p>
          </div>
          <h6 class="bold">Hình ảnh đi kèm:</h6>
          <div class="image-container d-flex">
            <div class="image-placeholder"></div>
            <div class="image-placeholder"></div>
          </div>

          <div id="editor"></div>
          <div class="button-container d-flex">
            <button
              type="button"
              class="btn btn-primary white-button"
              id="back-button"
            >
              Quay về
            </button>
            <button
              type="button"
              class="btn btn-primary blue-button"
              id="submit-button"
            >
              Xử lí
            </button>
            <button
              type="button"
              class="btn btn-primary red-button"
              id="cancel-button"
            >
              Từ chối
            </button>
        </main>
        
        </div>
      </div>
    </div>
    <script src="s/scripts/popup.js"></script>
    <script src="./scripts/navigation.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script>
      document.getElementById("back-button").addEventListener("click", () => {
        window.location.href = "/Phan-cum-phuong-quan/danhsachbaocao.html";
      });
      document.getElementById("submit-button").addEventListener("click", () => {
        window.location.href = "/Phan-cum-phuong-quan/danhsachbaocao.html";
      });
      document.getElementById("cancel-button").addEventListener("click", () => {
        window.location.href = "/Phan-cum-phuong-quan/danhsachbaocao.html";
      });
      var quill = new Quill("#editor", {
        theme: "snow",
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
