<header id="primary-header" class="flex official">
    <div id="burger"></div>
    <nav id="primary-navigation-bar">
      <ul id="primary-items-list" class="my-3">
        <li id="profile">
          <i
            class="bi bi-person-circle vertical__center nav__item__icon"
          ></i>
          <span>user name</span>
        </li>
        <li id="report-list" class="current">
          <i class="bi bi-clipboard2-check nav__item__icon"></i>
          <span>Danh sách báo cáo</span>
        </li>
        <li id="license-list">
          <i class="bi bi-check-circle nav__item__icon"></i>
          <span>Yêu cầu cấp phép</span>
        </li>
        <li id="edit-list">
          <i class="bi bi-pencil nav__item__icon"></i>
          <span>Yêu cầu chỉnh sửa</span>
        </li>
        <li id="billboard-list">
          <i class="bi bi-signpost-2 nav__item__icon"></i>
          <span>Danh sách quảng cáo</span>
        </li>
        <li>
          <form id="logout" method="post" action="/logout">
            <button type="submit">
              <i class="bi bi-box-arrow-left" id="logout"></i>
              <span>Đăng xuất</span>
            </button>
          </form>
        </li>
      </ul>
    </nav>
  </header>