#content p {
    margin-left: 1.5rem;
}

#content button.btn.btn-primary {
    width: 12rem;
    height: auto;
    margin: 1rem 2rem 0 0;
}

div.image-placeholder {
    width: 13rem;
    height: 8rem;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}