.list__flex .list__col1 {
    width: 10rem;
}

.list__flex .list__col2 {
    width: calc(100% - 22rem);
    text-overflow: clip;
}

.list__flex .list__col3 {
    width: 6rem;
}

.list__flex .list__col4 {
    margin: 0 auto;
    width: 6rem;
}