#content>#table>ul>li:not(:nth-child(1))>ul{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

.list__flex .list__col1 {
    width: 8rem;
}

.list__flex .list__col2 {
    width: calc(100% - 11rem);
}

.list__flex .list__col3 {
    width: 3rem;
}