#to__list__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 100;
}

#content {
  height: 90vh;
  overflow-y: auto;
}
img.ad__image {
  height: 10rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  object-fit: fill;
}
