<%- include('../../includes/head.ejs',{_page_title:"Sign in"})%>
</head>
<body>
    <%- include('../../includes/header.ejs')%>
    <main>
        <h2 id="report_header">Thông tin báo cáo chi tiết</h2>
        <div id="report_list"></div>
    </main>
    <script type="text/javascript">
        const report_list = []

        const list_div = document.getElementById("report_list")
        report_list.forEach((report) => {
            const report_div = document.createElement("div")
            const report_text = document.createElement("p")
            report_div.appendChild
        })
        list_div.appendChild
        
    </script>
</body>
</html>