<%- include('../../includes/head.ejs',{_page_title:"Sign in"})%>
</head>
<body>
    <%- include('../../includes/header.ejs')%>
    <main>
        <h1 id="report_header">Thông tin báo cáo chi tiết</h1>
        <div id="report_list"></div>
    </main>
    <script type="text/javascript">
        const report_list = <%- JSON.stringify(reports) %>;
        
        const Report_to_HTML = (report) => {
            const new_report = document.createElement("div")
            new_report.innerHTML += `<p> Email: ${report.email}</p>
            <p> Tên: ${report.name}</p>
            <p> Phường: ${report.ward}</p>
            <p> Quận/Huyện: ${report.district}</p>
            <p> Vị trí: ${report.position}</p>
            <p> ${report.images}</p>
            <p> Trạng thái báo cáo: ${report.state}</p>`
            return new_report;
        }

        const list_div = document.getElementById("report_list");
        report_list.forEach((report) => {
            list_div.appendChild(Report_to_HTML(report));
        });
    </script>
</body>
</html>