@import "../navbar.css";

header * {
  font-size: 1.5rem;
}

#primary-header {
  position: sticky;
  top: 0;
}

.official.active#primary-header {
  width: 13.5rem;
}

#primary-items-list li {
  width: 100%;
}

#nav__item__icon{
  color:hsla(219, 100%, 50%, 0.8);
}
.current #nav__item__icon{
  color:white;
}

#primary-items-list #logout__li:hover {
  background-color: rgba(255, 0, 0, 0.192);
  border-radius: 2;
}
