@import "./page.css";

/* ||PAGE */
main {
  flex-grow: 1;
  background-color: white;
}

#main__container :not(h1) {
  font-size: 0.9rem;
}

/* ||SEARCH FORM AND BUTTONS */
.search__form button {
  margin-right: 0.5%;
}

#page__title {
  margin: 2rem 0 3rem 0;
}

#map__btn {
  float: right;
  margin: 0 0.4rem 1rem 0;
  padding: 0.4rem;
  width: 12.5rem;
}

#create__account__btn {
  float: right;
  margin: 0 0.4rem 1rem 0;
  padding: 0.4rem;
  width: 12.5rem;
}

#search__btn {
  margin-right: 2%;
}

.search__form {
  clear: both;
}

/* ||LIST */
.list__title__container {
  padding: 1rem;
}

.list__flex {
  display: flex;
}

.list__flex li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list__flex .list__col2 {
  flex-grow: 3;
  flex-basis: 30%;
}

.list__flex :not(.list__col2, .list__col4) {
  flex-grow: 1;
  flex-basis: 15%;
}

/*\\LIST CARDS*/
.card {
  background-color: white;
}

#full__info__list {
  display: flex;
  justify-content: space-around;
}

.mock__image__container {
  display: flex;
  padding-bottom: 1rem;
  gap: 3%;
}

.mock__image {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  background-color: rgba(0, 255, 255, 0.366);
}

.buttons__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  justify-content: start;
}
.buttons__container * {
  width: 100%;
}

.buttons__container__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

#main__list .card {
  margin-bottom: 0.5rem;
  height: fit-content;
}

.multi__input__field {
  display: flex;
}

.multi__input__field p {
  padding-top: 0.25rem;
  text-align: center;
  font-size: 0.9em;
}

.small__input {
  width: 45%;
  height: fit-content;
}

#to__list__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}
