<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quản lí điểm quảng cáo - Sở VHTT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/phan-cum-soVHTT/page_content.css" />

    <script src="/scripts/phan-cum-soVHTT/navigation.js"></script>
    <script src="/scripts/phan-cum-soVHTT/billboard_list.js"></script>
  </head>

  <body>
    <script src="/scripts/navbar.js" defer></script>
    <div class="wrapper">
      <%- include('../includes/header.ejs')%>
      <main>
        <div class="container" id="main__container">
          <h1 class="fw-bold h2 mb-0" id="page__title">
            Quản lí điểm quảng cáo
          </h1>
          <button
            type="submit"
            class="btn btn-primary nowrap"
            id="map__btn"
            onclick="navigate(this.id)"
          >
            Xem trên bản đồ
          </button>
          <form action="" class="d-flex search__form">
            <input
              type="text"
              class="form-control me-2"
              placeholder="Nhập thông tin"
            />
            <button
              type="submit"
              class="btn btn-primary nowrap"
              id="search__btn"
            >
              Tìm kiếm
            </button>
            <button type="submit" class="btn btn-dark nowrap">
              <i class="bi bi-arrow-down-up"></i>
              Sắp xếp
            </button>
            <button type="submit" class="btn btn-dark nowrap">
              <i class="bi bi-funnel"></i> &nbsp;Lọc
            </button>
          </form>

          <div id="main__list">
            <div id="info__desc">
              <div class="list__title__container mt-3">
                <ul class="list__flex fw-bold">
                  <li class="list__col1">Bảng quảng cáo</li>
                  <li class="list__col2">Địa điểm</li>
                  <li class="list__col3">Trạng thái</li>
                  <li class="list__col4">
                    <button class="btn btn-link ps-4" disabled></button>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="modal fade"
              id="Modify__modal"
              tabindex="-1"
              aria-labelledby="Modal__label"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title fw-bold fs-5" id="Modal__label">
                      Chỉnh sửa thông tin
                    </h3>
                    <button
                      class="btn-close"
                      type="button"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form action="">
                      <label for="billboard__type" class="fw-bold"
                        >Loại bảng quảng cáo</label
                      >
                      <select
                        class="form-select mb-3"
                        id="billboard__type"
                        aria-label="Billboard type selector"
                      >
                        <option selected>Chọn...</option>
                        <option value="1">Trụ/Cụm pano</option>
                        <option value="2">Trụ bảng hiflex</option>
                        <option value="3">Trụ màn hình điện tử LED</option>
                        <option value="4">Trụ hộp đèn</option>
                        <option value="5">Bảng hiflex ốp tường</option>
                        <option value="6">Màn hình điện tử ốp tường</option>
                        <option value="7">Trụ treo băng rôn dọc</option>
                        <option value="8">Trụ treo băng rôn ngang</option>
                        <option value="9">Cổng chào</option>
                        <option value="10">Trung tâm thương mại</option>
                      </select>

                      <label for="billboard__address" class="fw-bold"
                        >Địa điểm</label
                      >
                      <input
                        type="text"
                        name="address"
                        class="form-control mb-3"
                        id="billboard__address"
                        placeholder="123 Đường ABC, Phường XX, Quận XY"
                      />

                      <label for="ad__type" class="fw-bold"
                        >Hình thức quảng cáo</label
                      >
                      <select
                        class="form-select mb-3"
                        id="ad__type"
                        aria-label="advertisement type selector"
                      >
                        <option selected>Chọn...</option>
                        <option value="1">Cổ động chính trị</option>
                        <option value="2">Quảng cáo thương mại</option>
                        <option value="3">Xã hội hoá</option>
                      </select>

                      <label for="land__type" class="fw-bold">Phân loại</label>
                      <select
                        class="form-select mb-3"
                        id="land__type"
                        aria-label="Land type selector"
                      >
                        <option selected>Chọn...</option>
                        <option value="1">
                          Đất công/Công viên/Hành lang an toàn giao thông
                        </option>
                        <option value="2">Đất tư nhân/Nhà ở riêng lẻ</option>
                        <option value="3">Trung tâm thương mại</option>
                        <option value="4">Chợ</option>
                        <option value="5">Cây xăng</option>
                        <option value="6">Nhà chờ xe buýt</option>
                      </select>

                      <label for="billboard__size" class="fw-bold"
                        >Kích thước</label
                      >
                      <div class="multi__input__field" id="billboard__size">
                        <input
                          type="text"
                          name="address"
                          class="form-control small__input"
                          id="billboard__height"
                          placeholder="Chiều cao"
                        />
                        <p class="fw-bold m-0">m x &nbsp;&nbsp;</p>

                        <input
                          type="text"
                          name="address"
                          class="form-control small__input"
                          id="billboard__width"
                          placeholder="Chiều dài"
                        />
                        <p class="fw-bold m-0">&nbsp;m</p>
                      </div>

                      <label for="billboard__amount" class="fw-bold"
                        >Số lượng</label
                      >
                      <div class="multi__input__field" id="billboard__amount">
                        <input
                          type="text"
                          name="address"
                          class="form-control small__input"
                          id="billboard__amount"
                          placeholder="Số trụ"
                        />
                        <p class="fw-bold m-0">trụ x &nbsp;&nbsp;</p>

                        <input
                          type="text"
                          name="address"
                          class="form-control small__input"
                          id="billboard__width"
                          placeholder="Số bảng"
                        />
                        <p class="fw-bold m-0">&nbsp;bảng</p>
                      </div>

                      <label for="billboard__status" class="fw-bold"
                        >Trạng thái</label
                      >
                      <select
                        class="form-select mb-3"
                        id="billboard__status"
                        aria-label="Billboard status selector"
                      >
                        <option selected>Chọn...</option>
                        <option value="1" class="link-primary">
                          Đã quy hoạch
                        </option>
                        <option value="2" class="link-danger">
                          Chưa quy hoạch
                        </option>
                      </select>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Huỷ
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-dismiss="modal"
                      onclick="showToast('save__success__toast')"
                      id="save__changes__btn"
                    >
                      Lưu thay đổi
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="modal fade"
              id="delete__confirm__modal"
              tabindex="-1"
              aria-labelledby="delete__modal__label"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3
                      class="modal-title fw-bold fs-5"
                      id="delete__modal__label"
                    >
                      Xác nhận xoá
                    </h3>
                    <button
                      class="btn-close"
                      type="button"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    Bạn có chắc chắn muốn xoá điểm quảng cáo này không?
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Huỷ
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
                      onclick="showToast('delete__success__toast')"
                      id="delete__btn"
                    >
                      Xoá
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="toast-container position-fixed bottom-0 end-0 p-3"
              style="z-index: 1"
            >
              <div
                class="toast align-items-center text-bg-success border-0"
                id="save__success__toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="d-flex">
                  <div class="toast-body">
                    <i class="bi bi-check-lg"></i>
                    Đã lưu thay đổi!
                  </div>
                  <button
                    type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
              <div
                class="toast align-items-center text-bg-success border-0"
                id="delete__success__toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="d-flex">
                  <div class="toast-body">
                    <i class="bi bi-trash"></i>
                    Đã xoá điểm quảng cáo!
                  </div>
                  <button
                    type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <!-- place footer here -->
      </footer>
    </div>
    <script>
      loadBillboards();
    </script>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
