#primary-header {
  display: flex;
  position: sticky;
  left: 0;
  box-shadow: none;
  width: 100vw;
  height: 3rem;
  padding-inline: 1rem;
  justify-content: left;
  padding-left: 2rem;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  transition: 200ms all ease-in-out;
}
#primary-header.active {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#primary-header.active > #primary-navigation-bar {
  display: flex;
  margin-left: auto;
}
#primary-header.active.official > #primary-navigation-bar {
  margin-right: 2.5rem;
}
#primary-header.active > #burger {
  background-image: url("../images/close.png");
}
#primary-navigation-bar {
  display: none;
  padding-top: 2rem;
}
#burger {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-image: url("../images/burger.png");
  background-position: center;
  background-size: cover;
  z-index: 100;
  top: 2rem;
  left: 1.5rem;
}

#primary-items-list > * img {
  width: 1.25rem;
}

#primary-items-list li {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
#primary-items-list li:hover {
  background-color: rgba(0, 89, 255, 0.2);
  border-radius: 2;
}
.nav__item__icon {
  color: rgb(59, 123, 250);
  font-size: 1.5rem;
}

#primary-items-list * {
  position: relative;
  opacity: 0;
  transform: translateY(2rem);
  transition: 250ms all ease-in-out;
}

.active #primary-items-list * {
  position: relative;
  transform: translateY(0);
  opacity: 1;
}

#logout button {
  background-color: transparent;
  border: 0;
  color: #ff7b7b;
  font-size: 1.5rem;
}
/* for tablet */
@media only screen and (min-width: 600px) {
  #primary-header {
    left: 0;
    box-shadow: none;
    width: 5rem;
    height: 100vh;
    padding-inline: 0rem;
    padding-top: 2rem;
    justify-content: left;
    padding-left: 0;
    align-items: center;
    flex-direction: column;
  }

  #primary-header.official {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: width 100ms ease-in-out;
  }
  .official.active#primary-header {
    width: 12rem;
  }
  .official > #primary-navigation-bar {
    display: flex !important;
    margin-inline: 0;
  }
  .official #primary-items-list * {
    position: relative;
    transform: translateY(0);
    opacity: 1;
  }
  #primary-navigation-bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 2.5rem;
  }
  .official #primary-navigation-bar {
    margin-top: 2rem;
    height: 90%;
    align-items: center;
    width: 100%;
  }
  .official #primary-items-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    align-content: start;
  }
  .official.active #primary-items-list {
    /* margin-left: 1.8rem; */
  }
  .official #primary-items-list > * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
    gap: 1rem;
  }

  .official.active #primary-items-list > * {
    justify-content: left;
    padding-left: 1.8rem;
  }
  #primary-items-list li {
    width: 100%;
  }
  #primary-items-list span {
    display: none;
    font-size: 0.625rem;
    opacity: 0;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: scale(0);
    transition: opacity 500ms ease-in, color 50ms ease-in-out;
  }

  .active #primary-items-list span {
    display: flex;
    width: auto;
    transform: scale(1);
    opacity: 1;
  }

  .official #primary-items-list li:last-child {
    margin-top: auto;
  }

  .official #primary-items-list li:last-child span {
    color: #ff7b7b;
  }

  #logout button {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.current {
  background-color: rgba(0, 89, 255, 0.2);
  border-radius: 2;
}
