<section id="inscreen-authentication-section">
    <div id="authentication-section-form-container">
        <div id="authentication-close-button" class="authentication-close-button">
            <img id ="inscreen-authen-close" src = "/images/close.png" alt = "close button"/>
        </div>
        <div id="authentication-form-button-container">
            <button id= "inscreen-switch-login" class="active">Login</button>
            <button id= "inscreen-switch-register">Register</button>
        </div>
        <form id="inscreen-form-login" class="form-container active">
            <h2>Login</h2>
            <div class="form-section">
                <label for="email">Email:</label>
                <input type="email" name="email" value="" placeholder ="email">
            </div>
            <div class="form-section">
                <label for="password">Password:</label>
                <input type="password" name="password" value="" placeholder ="password">
            </div>
            <div class="form-section">
                <p><span class="under-line">Forgot password?</span></p>
            </div>
            <div class="form-section">
                <button class="submit-button submit">login</button>
            </div>
            <hr>
            <div class="form-section">
                <button class="submit-button facebook-submit">login with facebook</button>
            </div>
            <div class="form-section">
                <button class="submit-button google-submit">login with google</button>
            </div>
            <hr>
            <div class="form-section">
                <button class="submit-button second-choice">Register</button>
            </div>
        </form>
        <form id="inscreen-form-register" class="form-container">
            <h2>Register</h2>
            <div class="form-section">
                <label for="name">Name:</label>
                <input type="text" name="name" value="" placeholder ="name">
            </div>
            <div class="form-section">
                <label for="email">Email:</label>
                <input type="email" name="email" value="" placeholder ="email">
            </div>
            <div class="form-section">
                <label for="number">Phone number:</label>
                <input type="phone" name="number" value="" placeholder ="Phone number">
            </div>
            <div class="form-section">
                <label for="password">Password:</label>
                <input type="password" name="password" value="" placeholder ="password">
            </div>
            <div class="form-section">
                <button class="submit-button submit">Register</button>
            </div>
            <hr>
            <div class="form-section">
                <button class="submit-button facebook-submit">use facebook</button>
            </div>
            <div class="form-section">
                <button class="submit-button google-submit">use google</button>
            </div>
            <hr>
            <div class="form-section">
                <button class="submit-button second-choice">Login</button>
            </div>
        </form>
    </div>
</section>

